#cust-footer-style {
	color: grey;
	border-top: solid grey 1px;
	padding: 3% 5%;
}

#cust-note {
	margin-top: 1%;
	font-size: 14px;
}

.custom-back-color {
	background-color: #212529;
	color: lightgrey;
}

.cust-logos {
	float: right
}

.cust-fixed-overlay {
	max-width: 40%;
	width:40%;
	position:absolute;
	top:15%;
	left:10%;
	bottom:10%;
	z-index: 10;
	text-align: center;
}

.cust-fixed-overlay p {
	margin-top: 3%;
	font-size: 3vw;
	font-weight: bolder;
}

.cust-imgfixed-overlay {
	max-height: 70%;
}

.cust-purch-overlay {
	min-width: 20%;
	width:40%;
	position:absolute;
	margin-top: 3%;
	top:10%;
	left:10%;
	bottom:10%;
	z-index: 100;
}
.cust-purch-overlay p {
	font-size: 3vw;
	font-weight: bolder;

}
.cust-imgpurch-overlay {
	max-width: 72%;
	max-height: 72%;
	margin-left: 10%;
}

.cust-contact-overlay {
	max-width: 40%;
	min-width: 20%;
	width:32%;
	position:absolute;
	top:4%;
	left:55%;
	bottom:10%;
}

.cust-contact-overlay p {
	font-size: 3vw;
	font-weight: bolder;
}

.cust-imgus-overlay {
	max-width: 85%;
	max-height: 85%;
	float: right;
	margin-right: 10%;
	margin-top: -1%;
}

.cust-text-overlay {
	margin-top: 0.5%;
	text-align: center;
	font-size: 2vw;
}

.cust-banner-container {
	position: relative;
}

.custom-side-img{
	max-width: 70%;
	margin-bottom: 3%;
}

.cust-center-elements {
	text-align: center;
}

.cust-backg-black {
	background-color: #0b0b0b;
	color: #6c6c6c;
}

.cust-backg-grey {
	background-color: #1c1c1c;
	color: #8c8c8c;
}

.cust-mart-3 {
	margin-top: 3%;
}

.cust-foot {
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.cust-foot-p {
	font-size: 13px;
}

.cust-fa-social span {
	color: grey;
	font-size: 2rem;
}

.cust-fa-social li {
	margin: 0% 8%;
	width: 9%;
}

.cust-nav-social-right {
	margin: auto;
}

.cust-title-container {
	border-bottom: 4px solid #6c6c6c;
	margin: 3% 0% 5% 0%;
}

.cust-title-container h2, h1 {
	font-weight: bolder;
}

.cust-purchBox {
	opacity: 0.5;
	margin:auto;
}

.cust-purchBox-active {
	opacity: 1;
}

.cust-purchBox:hover {
	cursor: pointer;
	opacity: 1;
}

.cust-purchBox-info {
	display: none;
}

.cust-box-active {
	display: flex;
}

.cust-nav-social {
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.bg-dark {
	background-color: #000000!important;
}

.cust-form-button {
	background-color: #40433F;
	border:none;
	color: lightgray;
}

.cust-form-button:hover {
	background-color: #b1810a;
}

.cust-legend {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 3%;
}

.form-group label {
	font-size: 20px;
}

.cust-check {
	font-size: 18px!important;
}

/*Progress bar background*/

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 2px 2px 2px gray;
  background: #40433F;
  border-radius: 10px;
  border: 0px solid #000101;
}

/*Progress dot*/

input[type='range']:focus {
	outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	background-color: #b1810a;
	width: 20px;
	height: 20px;
	border: 3px solid #333;
	border-radius: 50%;
	margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
	background-color: #777;
	width: 15px;
	height: 15px;
	border: 3px solid #333;
	border-radius: 50%;
}

input[type=range]::-ms-thumb {
	background-color: #777;
	width: 20px;
	height: 20px;
	border: 3px solid #333;
	border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: #777;
	height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	outline: none;
}

input[type=range]::-moz-range-track {
	background-color: #777;
	height: 3px;
}

input[type=range]::-ms-track {
	background-color: #777;
	height: 3px;
}

input[type=range]::-ms-fill-lower {
	background-color: HotPink
}

input[type=range]::-ms-fill-upper {
	background-color: black;
}
