#cust-footer-style {
	color: grey;
	border-top: solid grey 1px;
	padding: 3% 5%;
}

.custom-back-color {
	background-color: #212529;
	color: lightgrey;
}

.cust-logos {
	float: right
}

.cust-img {
	width: 50px;
}

.cust-fixed-overlay {
	max-width: 40%;
	width:40%;
	position:absolute;
	top:15%;
	left:10%;
	bottom:10%;
	z-index: 10;
}

.cust-fixed-overlay p {
	margin-top: 3%;
	font-size: 3vw;
	font-weight: bolder;
}

.cust-char-overlay {
	max-width: 35%;
	width:35%;
	position:absolute;
	top:9%;
	left:10%;
	bottom:10%;
	z-index: 10;
}
.cust-char-overlay p {
	
	font-size: 3vw;
	font-weight: bolder;
	min-width: 99px;
}
.cust-imgchar-overlay {
	max-width: 72%;
	max-height: 72%;
	margin-left: 10%;
}

.cust-contact-overlay {
	max-width: 28%;
	width:28%;
	position:absolute;
	top:10%;
	left:55%;
	bottom:10%;
}

.cust-contact-overlay p {
	font-size: 3vw;
	font-weight: bolder;
}
.cust-img-banner{
	max-width: 85%;
	max-height: 85%;
	float: right;
	margin-right: 10%;
}


.cust-backg-black {
	background-color: #0b0b0b;
	color: #6c6c6c;
}

.cust-section {
	margin-top: 3%;
}

.cust-foot {
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.cust-foot-p {
	font-size: 13px;

}

footer .fa {
	color: grey;
}

.cust-nav-social-right {
	margin: auto;
}

.cust-title-container {
	border-bottom: 4px solid #6c6c6c;
	margin-bottom: 5%;
}

.cust-charBox {
	opacity: 0.5;
}

.cust-charBox-active {
	opacity: 1;
}

.cust-charBox:hover {
	cursor: pointer;
	opacity: 1;
}

.cust-charBox-info {
	display: none;
}

.cust-nav-social {
	max-width: 65px;
	margin-left: auto;
	margin-right: auto;
}

.bg-dark {
	background-color: #000000!important;
}